<div class="container site-main">
  <div class="row">

    <div class="col-sm-2 col-med-4 main-col1">
      First
    </div>

    <div class="col-sm-2 col-med-4 main-col2">
      Second
    </div>

    <div class="col-sm-2 col-med-4 main-col3">
      Third
    </div>

    <div class="col-sm-2 col-med-4 main-col4">
      Fourth
    </div>

  </div>
</div>
