<div class="wrap jumbotron text-center">
  <h1><%= appTitle %></h1>
  <a href='/' class="btn bth-lg btn-danger">Home</a>

  <div class="home-main">

  <%- include ../partials/main.ejs %>
</div>
</div>
